.cartWidget {
    height: 3em;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    background-color: white;
    border-radius: 5px;
    border: 2px solid black;

    cursor: pointer;
    transition: all 0.3s ease;
}

.cartWidget:hover {
    background-color: black;
}

.cartWidget:hover .number {
    color: white;
}

.cartWidget .number {
    font-size: 1.5rem;
    color: black;
}

.cartWidget .icon {
    font-size: 1.8rem;
}