.cartWidget {
    height: 3em;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px solid black;

    cursor: pointer;
}

.cartWidget .number {
    font-size: 1.5rem;
    color: black;
}

.cartWidget .icon {
    font-size: 1.8rem;
}