nav {
    z-index: 1;

    position: sticky;
    top: 0;
    left: 0;

    padding: 1em 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1em;

    background-color: white;
}

nav .brand {
    text-decoration: none;
    transition: all 0.3s ease;
}

nav .brand h1 {
    font-size: 2rem;
    font-weight: normal;
    color: black;
    text-decoration: overline;
}

nav .brand:hover {
    transform: scale(1.025);
}

nav ul {
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 3em;
}

nav ul li {
    font-size: 1.1rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    -webkit-text-stroke: 1px black;
}